/# Files in folders to ignore

/figures/temp/*

/data/*

/talks/*

/papers/*

/submission/*

/myPaper/_feedback/*

/myPaper/_oldDrafts/*

/myPaper/_preprint/*


/# Latex trash

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.ptc
